<div class="flex items-center justify-center min-h-max mt-20">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">New Post</h3>
        <form action="/posts/new" method="post" class="">
            <div class="mt-4">
                <label for="title" class="">Title</label>
                <input type="text" name="title" id="title" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
            </div>
            <div class="mt-4">
                <label for="url" class="">Image URL</label>
                <input type="text" name="url" id="url" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
            </div>
            <div class="mt-4">
                <label for="summary" class="">Summary</label>
                <input type="text" name="summary" id="summary" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
            </div>
            <div class="mt-4">
                <label for="subreddit" class="">Subreddit</label>
                <input type="text" name="subreddit" id="subreddit" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
            </div>
            <div class="mb-6 flex flex-col">
                <input type="submit" value="Submit" class="
                px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">
            </div>
        </form>
    </div>
</div>
